<app-cover></app-cover>
<div class="contact">
    <div class="container py-5">
        <div class="w-full h-full">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156171.20615210806!2d76.57987627535344!3d9.944114815058715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0812ffd49cf55b%3A0x64bd90fbed387c99!2sKerala!5e0!3m2!1sen!2sin!4v1692811164528!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[28rem]"></iframe>
        </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="py-5 mx-5">
                <h1 class="text-4xl font-extrabold py-3">Contact Us</h1>
          <div class="border-b">
            <div class="flex py-3 item-center">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="25"
                fill="green"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                />
              </svg>
              <h5 class=" px-2 text-2xl font-bold">Adress</h5>
               </div>
               <h5 class=" px-2 pb-3">6391 Elgin St. Celina, 10299</h5>
          </div>
          <div class="border-b">
            <div class="flex py-3 item-center">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="25"
                fill="green"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                />
              </svg>
              <h5 class=" px-2 text-2xl font-bold">Adress</h5>
               </div>
               <h5 class=" px-2 pb-3">6391 Elgin St. Celina, 10299</h5>
          </div>
          <div class="border-b">
            <div class="flex py-3 item-center">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="25"
                fill="green"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                />
              </svg>
              <h5 class=" px-2 text-2xl font-bold">Adress</h5>
               </div>
               <h5 class=" px-2 pb-3">6391 Elgin St. Celina, 10299</h5>
          </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mt-5 bg-white p-3 rounded-lg border px-5  ">
     <div class=" text-green-700 font-extrabold text-4xl py-4"  >
      <h1>Fill your life with security <br>
        and joy</h1>
     </div>
     <form>
      <div class="grid grid-cols-2 gap-5">
      
        <input
        type="text"
        class="border border-gray-500  p-3 rounded-lg  focus:outline-none focus:border-purple-500 col-span-2"
        placeholder="Full Name"
      />
        <input
          type="email"
          class="border border-gray-500 p-3 rounded-lg focus:outline-none focus:border-purple-500 col-span-2"
          placeholder="Email"
        />
        <input
          type="tel"
          class="border border-gray-500  p-3 rounded-lg  focus:outline-none focus:border-purple-500 col-span-2"
          placeholder="Phone"
        />
        <textarea
          cols="10"
          rows="5"
          class="border border-gray-500  p-3 rounded-lg  focus:outline-none focus:border-purple-500 col-span-2"
          placeholder="Write your message..."
        ></textarea>
      </div>
      <input
        type="submit"
        value="Send Message"
        class="focus:outline-none mt-5 p-3 rounded-xl bg-green-500 px-4 py-2 text-white font-bold w-full"
      />
    </form>
      
    </div>
    </div>
    </div>
</div>