
<app-cover></app-cover>
<div class="insurence">
    <div class="container py-5">
        <div class="row xl:mx-5">
            <div class="col-sm-12 col-md-6">
               
                <div class="col-md-12 py-2">
                    <img src="./assets/imges/invst.jpg" alt="" class="h-[30rem]">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xl:px-5">
               <h4 class="text-green-700 font-semibold text-xl"> Services</h4>
               <h1 class="text-3xl font-extrabold py-2">Tax Planning</h1>
               <div class="text-gray-400 py-2">
               <p class="py-2"> Lorem, ipsum dolor sit amet consectetur ascetur, et reiciendis eos tempore voluptate. Voluptatem omnis nobis veritatis quasi aliquid optio alias eligendi?
                Lorem, ipsum dolor sit conseio alias eligendi?</p>
                <p class="py-2">Lorem ipsum, dolor sit amet conseaque illum quidem harum, culpa maxime iusto fugit doloremque vel debitis lne odio alias sunt harum optio suscipit, eius quibusdam doloribus laborum mollitia! Perspiciatis voluptates amet odio accusantium atque a!</p>
                <p class="py-2"> Lorem, ipsum dolor sit amet consectetur ascetur, et reiciendis eos tempore voluptate. Voluptatem omnis nobis veritatis quasi aliquid optio alias eligendi?
                    Lorem, ipsum dolor sit conseio alias eligendi?</p>
                    <p class="py-2">Lorem ipsum, dolor sit amet conseaque illum quidem harum, culpa maxime iusto fugit doloremque vel debitis lne odio alias sunt harum optio suscipit, eius quibusdam doloribus laborum mollitia! Perspiciatis voluptates amet odio accusantium atque a!</p>
                    
               </div>
              
            </div>

        </div>
        <div class="px-4">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia iure enim, consequuntur deleniti cumque recusandae voluptatem, tempora aliquid consequatur pariatur ab in modi, voluptas molestias exercitationem dolorem odio dolore sunt.
            Obcaecati, doloribus impedit mollitia dolore necessitatibus ea delectus corporis laudantium quo sed sequi est vitae suscipit, a magnam ipsa deserunt aliquam expedita amet ullam? Fugiat expedita mollitia voluptate eum quasi.</p>
        </div>
        <div class="px-4">
            <div class="py-3">
                <h3 class="text-green-700 font-bold py-3">Strategy:</h3>
               <div>

               </div>
               <ul>
                <li class="flex items-center gap-2 p-2 ">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Property, property trusts, shares, ETF’s and managed funds
                   
                   </li>
            </ul>
            <ul>
                <li class="flex items-center gap-2 p-2 ">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg> Strategic investment to meet goals
                   
                   </li>
            </ul>
            <ul>
                <li class="flex items-center gap-2 p-2 ">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg> Tax minimisation
                    
                   </li>
            </ul>
            <ul>
                <li class="flex items-center gap-2 p-2 ">  
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>Loan structuring advice
                   </li>
            </ul>
          
           
              
               
              
               </div>
        </div>
       
    </div>
   
</div>