<app-cover></app-cover>
<div class="gallery py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 py-2">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 py-2">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div>
                    <img src="./assets/imges/family1.jpg" class="rounded-xl" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
