<app-cover></app-cover>
<div class="insurence">
    <div class="container py-5">
        <div class="row xl:mx-5">
            <div class="col-sm-12 col-md-6">
               
                <div class="col-md-12 ">
                    <img src="./assets/imges/vehicle.avif" alt="" class="h-[30rem] rounded-md">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xl:px-5">
              <div>
                <h4 class="text-green-700 font-semibold text-xl"> Services</h4>
                <h1 class="text-3xl font-extrabold py-2">Motor Insurance</h1>
              </div>
               <div class="text-gray-500 py-2">
               <p class="py-2"> 
                Motor insurance, commonly referred to as vehicle insurance, is a legal requirement for all vehicles plying on the roads of India. It is an indispensable aspect of responsible vehicle ownership, aimed at safeguarding the interests of both vehicle owners and the general public. In India, motor insurance is broadly categorized into two main categories: third-party liability insurance and comprehensive insurance.
               </p>
               <p class="py-2"> 
                Third-party liability insurance is the minimum legal requirement for all vehicles in India. This type of insurance provides coverage for damages caused to third parties in the event of an accident involving the insured vehicle. This coverage extends to injuries, fatalities, or property damage suffered by individuals or entities other than the policyholder. Third-party liability insurance is essential for ensuring that victims of accidents are financially compensated, and it offers protection to vehicle owners from legal consequences and financial liabilities arising from such incidents.
               </p>
            
               </div>
               
            </div>

        </div>
        <div class="text-gray-500">
            <p class="py-2">
                On the other hand, comprehensive insurance provides a more extensive level of coverage. In addition to covering third-party liabilities, comprehensive insurance also includes protection for damages sustained by the insured vehicle itself. This coverage encompasses a wide range of scenarios, including accidents, theft, natural disasters, fire, and vandalism, among others. It is a comprehensive safety net that not only addresses the financial concerns of third parties but also safeguards the investment made by the vehicle owner. Comprehensive insurance is especially valuable for those looking to protect their vehicle against a myriad of potential risks, offering peace of mind on the road.
            </p>
            <p class="py-2">
                In India's diverse and challenging road conditions, having motor insurance is not just a legal requirement but also a practical necessity. It ensures that vehicle owners are financially prepared to deal with unexpected situations and accidents, while also fulfilling their social responsibility towards fellow road users. Whether opting for third-party liability insurance or comprehensive insurance, vehicle owners in India can choose the level of coverage that best suits their needs, providing a crucial layer of security and financial protection in an unpredictable environment.
            </p>
        </div>
      

    </div>
   
</div>