<app-cover></app-cover>
<div class="insurence">
    <div class="container py-5">
        <div class="row xl:mx-5">
            <div class="col-sm-12 col-md-6">
               
                <div class="col-md-12 ">
                    <img src="./assets/imges/rural.jpeg" alt="" class="h-[30rem] rounded-md lg:mt-5">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xl:px-5">
              <div>
                <h4 class="text-green-700 font-semibold text-xl"> Services</h4>
                <h1 class="text-3xl font-extrabold py-2">Rural and Social Insurance</h1>
              </div>
               <div class="text-gray-500 py-2">
               <p class="py-2"> 
             
            
In a concerted effort to cater to the distinctive requirements of rural and economically disadvantaged segments of society, the government has introduced several social security and insurance schemes, two prominent ones being the Pradhan Mantri Suraksha Bima Yojana (PMSBY) and the Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY). These initiatives underscore the government's commitment to enhancing financial inclusion and extending a safety net to those who often lack access to adequate insurance and financial services.
               </p>
               <p class="py-2"> 
                
                The Pradhan Mantri Suraksha Bima Yojana (PMSBY) is an accident insurance scheme that offers affordable coverage to individuals across the country. It is especially beneficial for rural populations and economically weaker sections, as it provides financial assistance in the event of accidental death or disability. PMSBY offers a nominal premium, making it accessible to a wide range of people, including those in low-income groups. The scheme acts as a crucial support system for individuals and families during times of unexpected crises, ensuring they have access to the necessary financial resources to cope with the aftermath of accidents.
               </p>
            
               </div>
               
            </div>

        </div>
        <div class="text-gray-500">
            <p class="py-2">
                Similarly, the Pradhan Mantri Jeevan Jyoti Bima Yojana (PMJJBY) is another vital insurance scheme targeted at underserved populations. It is a life insurance scheme that provides coverage for individuals in case of their untimely demise, offering much-needed financial support to their families. PMJJBY offers a straightforward and cost-effective way for individuals, particularly those in rural areas, to secure their family's future by ensuring that they are not left financially vulnerable in the event of a breadwinner's death.
            </p>
            <p class="py-2">
                These schemes, PMSBY and PMJJBY, exemplify the government's commitment to social welfare and financial inclusion. By making affordable insurance options accessible to a broader demographic, especially those residing in rural and economically disadvantaged areas, these initiatives aim to improve the overall financial resilience of the nation's citizens. In doing so, they contribute to reducing the financial vulnerability of individuals and families, ultimately fostering greater economic stability and social well-being across the country.
            </p>
           
        </div>
      

    </div>
   
</div>