<app-cover></app-cover>
<div class="insurence">
    <div class="container py-5">
        <div class="row xl:mx-5">
            <div class="col-sm-12 col-md-6">
               
                <div class="col-md-12 ">
                    <img src="./assets/imges/travel.jpg" alt="" class="h-[30rem] rounded-md">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xl:px-5">
              <div>
                <h4 class="text-green-700 font-semibold text-xl"> Services</h4>
                <h1 class="text-3xl font-extrabold py-2">Travel Insurance</h1>
              </div>
               <div class="text-gray-500 py-2">
               <p class="py-2"> 
                Travel insurance plans are indispensable companions for individuals embarking on journeys, whether domestically or internationally. These insurance policies provide a safety net that covers an array of unforeseen events that can disrupt travel plans and create financial burdens. One of the primary benefits of travel insurance is its ability to mitigate the financial risks associated with trip cancellations or interruptions due to reasons such as illness, accidents, or unexpected emergencies. In such cases, travelers can often recover prepaid expenses for flights, accommodations, and activities, ensuring that they don't suffer substantial financial losses.
               </p>
               <p class="py-2"> 
                Additionally, travel insurance includes coverage for medical emergencies that may arise while away from home. This aspect of the policy can be especially crucial during international travel, where healthcare systems and expenses may differ significantly from one's home country. Travelers can receive financial support for medical treatments, hospitalizations, or emergency evacuations, offering peace of mind and access to quality care during challenging times.
               </p>
            
               </div>
               
            </div>

        </div>
        <div class="text-gray-500">
            <p class="py-2">
                Baggage loss, delay, or damage is another common concern for travelers, and travel insurance addresses this by providing coverage to replace or repair personal belongings. This coverage extends to personal items like luggage, clothing, electronics, and other essentials, ensuring that travelers can continue their journey without undue disruption.
            </p>
            <p class="py-2">
                In summary, home insurance serves as a comprehensive safety net for homeowners and renters, offering financial protection against a wide array of risks and uncertainties. It not only covers the structure itself but also personal belongings and provides liability protection. Home insurance is a crucial investment for ensuring peace of mind and financial security in the face of unexpected events and unforeseen circumstances that can disrupt the sanctity of one's home and personal property.
            </p>
        </div>
      

    </div>
   
</div>