
<app-cover></app-cover>
<div class="insurence">
    <div class="container py-5">
        <div class="row xl:mx-5">
            <div class="col-sm-12 col-md-6">
               
                <div class="col-md-12 py-2">
                    <img src="./assets/imges/fmly1.avif" alt="" class="h-[30rem]">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 xl:px-5">
               <h4 class="text-green-700 font-semibold text-xl"> Services</h4>
               <h1 class="text-3xl font-extrabold py-2">NRI Services</h1>
               <div class="text-gray-500 py-2">
               <p class="py-2"> Tax-free insurance for Non-Resident Indians (NRIs) can refer to insurance policies that offer tax benefits to NRIs. Tax laws and regulations related to insurance can vary between countries, so it's important for NRIs to consider the specific tax implications in their country of residence and the country where they hold the insurance policy. Some common types of insurance policies that may offer tax benefits to NRIs include life insurance, health insurance, and retirement or pension plans.

                </p>
                <p class="py-2">Life insurance policies for NRIs often provide tax benefits in the form of tax-free death benefits paid to beneficiaries upon the policyholder's demise. Additionally, premium payments made towards life insurance policies may be eligible for deductions or exemptions from income tax in certain jurisdictions.
                
                    </p>
                    <p class="py-2">Health insurance policies can also offer tax benefits to NRIs, especially in countries where health insurance premiums are tax-deductible. NRIs may be able to claim tax deductions or credits for the premiums they pay for health coverage, reducing their overall tax liability.
                    </p>
                  
               </div>
              
            </div>

        </div>
        <div class="py-3">
             
<div class="text-gray-500">
    <p class="py-2">
        Retirement or pension plans designed for NRIs can provide tax-free growth of investments and tax-deferred contributions, allowing NRIs to save for their retirement while potentially enjoying tax advantages. The specific tax treatment of these plans may vary depending on the country where the plan is held and the tax treaty agreements in place.
         
    </p>
    <p class="py-2">      It's crucial for NRIs to consult with tax professionals and insurance advisors who are well-versed in the tax laws of both their country of residence and their home country to understand the exact tax implications of their insurance policies. This ensures that NRIs can make informed decisions when selecting insurance products that align with their financial goals and tax planning strategies.</p> 
                <h3 class="text-green-700 font-bold py-3">For Non-resident Indians who would like to invest in India, We:</h3>
</div>
           <div>

           </div>
           <ul>
            <li class="flex items-center gap-2 p-2 ">  
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>Property, property trusts, shares, ETF’s and managed funds
               
               </li>
        </ul>
        <ul>
            <li class="flex items-center gap-2 p-2 ">  
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg> Strategic investment to meet goals
               
               </li>
        </ul>
        <ul>
            <li class="flex items-center gap-2 p-2 ">  
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg> Tax minimisation
                
               </li>
        </ul>
        <ul>
            <li class="flex items-center gap-2 p-2 ">  
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="green" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>Loan structuring advice
               </li>
        </ul>
       
      
       
          
           
          
           </div>
       
    </div>
   
</div>  

