<div
class="lg:absolute hidden lg:m-0 mx-3  z-1 overflow-hidden top-[5rem] lg:text-black lg:bg-white lg:shadow-xl xl:w-[500px] group-hover:block transition-all duration-150" >
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
       <div>
        <li class="absolute -left-4 top-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/life-insurence-planning">
          Life Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:-scale-x-200   transition-all  duration-300 ease-in-out transform hover:-translate-x-5">
       <div>
        <li class="absolute -right-4 top-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/health-insurance">
          Health Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
       <div>
        <li class="absolute -left-4 top-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/motor-insurance">
          Motor Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:-scale-x-200   transition-all  duration-300 ease-in-out transform hover:-translate-x-5">
       <div>
        <li class="absolute -right-4 top-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/home-insurance">
          Home Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
       <div>
        <li class="absolute -left-4 top-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/travel-insurance">
          Travel Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:-scale-x-200   transition-all  duration-300 ease-in-out transform hover:-translate-x-5">
       <div>
        <li class="absolute -right-4 top-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/commercial-insurance">
          Commercial Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
       <div>
        <li class="absolute -left-4 top-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/agriculture-insurance">
          Agriculture Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="border-b  w-full">
      <div class="hover:-scale-x-200   transition-all  duration-300 ease-in-out transform hover:-translate-x-5">
       <div>
        <li class="absolute -right-4 top-4 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </li>
       </div>
      <div>
        <li class="text-start p-2 cursor-pointer  " routerLink="/marine-insurance">
          Marine Insurance
        </li>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="border-b  w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4 ">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/rural-and-social-insurance">
      Rural and Social Insurance
    </li>
  </div>
  </div>
</div>




</div>