
  <div class="accordion accordion-flush" id="accordionFlushExample">
    
    <div class="accordion-item ">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div
class="lg:absolute lg:hidden  z-1 overflow-hidden top-[5rem] lg:text-black lg:bg-white shadow-xl w-[250px] lg:group-hover:block" >


<div class="border-b  w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/retirement-planning">
      Retirement Plan
    </li>
  </div>
  </div>
</div>
<div class="border-b  w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/insurence-planning">
      Insurence Planning
    </li>
  </div>
  </div>
</div>
<div class="border-b w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/investment-planning">
      Investing Planing
    </li>
  </div>
  </div>
</div>
<div class="border-b w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/wealth-planning">
      Wealth Planing
    </li>
  </div>
  </div>
</div>
<div class="border-y w-full">
  <div class="hover:scale-x-200   transition-all  duration-300 ease-in-out transform hover:translate-x-5">
   <div>
    <li class="absolute -left-4 top-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </li>
   </div>
  <div>
    <li class="text-start p-2 cursor-pointer  " routerLink="/tax-planning">
      Tax Planning & Much more
    </li>
  </div>
  </div>
</div>

</div>
        </div>
      </div>
    </div>
   
  </div>