<div class="cover w-full">
    <div class="   relative h-80 w-full">
        <div class=" absolute w-full h-full bg-purple-950 opacity-70">
            
            </div>
            <div class="absolute inset-0 bg-gradient-to-l from-transparent via-transparent lg:to-black/90 to-black/60"></div>
            <div class="absolute inset-0 bg-gradient-to-r from-transparent via-transparent lg:to-white/30 to-black/80"></div>
          <div class="p-5 ">
            <div class="flex h-full w-full items-center mt-5 xl:ms-8">
                <h1 class="text-white z-1 text-5xl font-bold  {{services? 'hidden' :'block'}}">{{showval}} </h1>
                <h1 class="text-white z-1 text-5xl font-bold  {{services? 'block' :'hidden'}}">Services </h1>
                
            </div>
            <div class="flex py-3 xl:ms-8 gap-1 items-center">
                <div class="text-white z-1 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                      </svg>  
                </div>
                <div class="z-1 text-white border-e px-2">
                    <h2 class="cursor-pointer" routerLink="/home">Home</h2>
                </div>
                <div class="z-1 text-green-700  lg:px-2">
                    <h2 class="font-bold">{{showval}}</h2>
                </div>
            </div>
          </div>
           
    </div>
</div>
