<div class="lg:flex gap-5  h-full ">
  <ul class="lg:flex   h-full mt-2 text-lg ">
  
    <li class="hover:text-green-600 text-md hover:transition-ease duration-500 cursor-pointer font-semibold lg:border-0 border-b lg:px-5  py-2" routerLink="/home" >Home</li>
    <li class="hover:text-green-600 text-md hover:transition-ease duration-500 cursor-pointer font-semibold lg:border-0 border-b lg:px-5 py-2" routerLink="/about" routerLinkActive="active">About Us</li>
    
<div class="group  nav-wrapper lg:text-center h-full">
  <div class="relative">
    <li class="hover:text-green-600 h-full  text-md hover:transition-ease duration-500 cursor-pointer font-semibold lg:border-0 border-b lg:px-5 py-2 ">Services</li>
    <span class="lg:hidden absolute right-0 top-5">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>
    </span>
  </div>
<app-submenu></app-submenu>
</div>
   
    <li class="hover:text-green-600 text-md hover:transition-ease duration-500 cursor-pointer font-semibold  border-b lg:px-5 py-2" routerLink="/nri-services">NRI services</li>
    <li class="hover:text-green-600 text-md hover:transition-ease duration-500 cursor-pointer font-semibold  border-b lg:px-5 py-2" routerLink="/gallery">Gallery</li>
    <li class="hover:text-green-600 text-md hover:transition-ease duration-500 cursor-pointer font-semibold  border-b lg:px-5 py-2" routerLink="/contact-us">Contact</li>
  </ul>

</div>